.colordefondo {
    background-color: #18191a;
  }

  .btn-enviar {     
    background-color: rgb(139, 207, 93);    
    color: white;    
    border: none;    
    border-radius: 4px;   
    width: 100%;   
    font-size: 20px; }  
  .tarjetas1 {     margin-top: 100px;     width: 50%;  }  
  .btn-enviar:hover {     background-color: rgb(22, 170, 22);     border-bottom: 1px black solid; }